<html>
<header class = "container">
<div id = "Top_header">
  <div id = "title">  
    <h1> Shopper's List </h1>
  </div>
<nav>
<ul>
    <li><a href = "/list"> Back to Lists </a></li>
</ul>
</nav>
</div>
</header>
<body class = "LightMode">
 <div id = "card">
    <form>
      <table>
        <tr><td><label><p> List name: </p></label></td><td><input></td></tr>
        <tr><td><button> Add </button></td></tr>
      </table>
    </form>
 </div>
</body>
</html>