<html>
<header class = "container">
<div id = "Top_header">
  <div id = "title">  
    <h1> Shopper's List </h1>
  </div>
<nav>
<ul>
    <li><a href = "/item"> Back to items </a></li>
</ul>
</nav>
</div>
</header>
<body class = "LightMode">
 <div id = "card">
    <form>
      <table id = "works">
        <tr><td><label><p> Item name: </p></label></td><td><input></td></tr>
        <tr>
            <td><label><p> Necessity: </p></label></td>
            <td><select>
                <option> Low </option>
                <option> Normal </option>
                <option> Important </option>
            </select></td>
        </tr>
        <tr><td><label><p> Quantity </p></label></td><td><input></td></tr>
        <tr><td><button> Add </button></td></tr>
      </table>
    </form>
 </div>
</body>
</html>