<html>
<header class = "container">
<div id = "Top_header">
  <div id = "title">  
    <h1> Shopper's List </h1>
  </div>
<nav>
<ul>
    <li><a href = "/login"> Back to Login </a></li>
</ul>
</nav>
</div>
</header>
<body class = "LightMode">
 <form id = create_user>
  <div id = "card">
    <table> 
      <tr><td><label><p> User Name: </p></label></td><td><input></td><td><label><p> E-mail: </p></label></td><td><input></td></tr>
      <tr><td><label><p> Password: </p></label></td><td><input type = "password"></td><td><label><p> Confirm Password: </p></label></td><td><input type = "password"></td></tr>
      <tr><td><label><p> Security Question: </p></label></td><td><input></td><td><label><p> Anwser Key: </p></label></td><td><input></td></tr>
      <tr><td><button>Create account</button></td></tr>
    </table>
     
    </div>
  </form>
</body>
</html>