<html>
<header class = "container">
<div id = "Top_header">
  <div id = "title">  
    <h1> Shopper's List </h1>
  </div>
<nav>
<ul>
    <li><a href = "/list"> Back to Lists </a></li>
</ul>
</nav>
</div>
</header>
    <body class = "LightMode">
    <div id = "card">
        <p> A good place to store all your grocery/shopping lists</p>
    </div>
    </body>
</html>