<html>
<header class = "container">
<div id = "Top_header">
  <div id = "title">  
    <h1> Shopper's list </h1>
  </div>
<nav>
<ul>
    <li><a href = "/create_user"> Create Account </a></li>
    <li><a href = "/about"> About </a></li>
</ul>
</nav>
</div>
</header>
<body class = "LightMode">
<div id = "card">
<form id = "login">
   <table>
    <tr><td><label><p> Name: </p></label></td><td><input></td></tr>
    <tr><td><label><p> Password: </p></label></td><td><input type = "password"></td></tr>
    <tr><td><button> Login </button></td></tr>
  </table>
</form>
</div>
</body>
</html>