<html>
<header class = "container">
<div id = "Top_header">
  <div id = "title">  
    <h1> Shopper's List </h1>
  </div>
<nav>
<ul>
    <li><a href = "/add_list"> Add Shopping List </a></li>
    <li><a href = "/delete_list"> Delete Shopping List </a></li>
    <li><a href = "/update_list"> Update Shopping List </a></li>

</ul>
</nav>
</div>
</header>
    <body id = 'theme' class = 'LightMode'>
    <div id = "card">
        <p> A good place to store all your grocery/shopping lists</p>
    </div>
    </body>
</html>